<html>
  <head>
    <title>Wellington Sensors</title>
    <style>
      p, h1, h2, h3, h4, ul, li, a, label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #157DA6;
        text-align: center;
      }
      .centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Wellington Sensors</h1>
    <h3>Available Sensors</h3>
    <h4><a href='/'>Home</a></h4>
    <%# for all sensors%>
    <% sensors.each do |sensor| %>
      <div class='sensor-display-tile'>
        <p> Sensor id: <%= sensor.id %> '<%= sensor.name %>' </p>
        <p>reads <%= sensor %> </p> <%# TODO implement sensor reading%>
      </div>
    <% end %>
  </body>
</html>
